.Calendario-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
}


.fc {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    height: 67%;
    background-color: white;
    border: 1px solid rgb(207, 207, 207); 
    border-radius: 5px;
}

.fc-timegrid-slot {
    height: 50px !important; 
    min-height: 50px !important;
    max-height: 50px !important;
}