/* Navbar */
.navbar {
  background-color: black;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3); /* Sombra Navbar */
  position: fixed; /* Fijar el navbar en la parte superior */
  top: 0;
  left: 0;
  right: 0;
  width: 100%; /* Ocupa el 100% del ancho de la pantalla */
  z-index: 1000; /* Asegura que el navbar esté encima de otros elementos */
  margin: 0; /* Elimina márgenes */
  padding: 0; /* Elimina el relleno si es necesario */
  height: 60px; 
}

.navbar .navbar-brand {
  color: white;
  font-size: 2rem;
}

.navbar-nav .nav-link {
  color: white;
}

.navbar-nav .nav-link:hover {
  color: #ddd;
}

/* Estilo del logo */
.navbar .navbar-brand img {
  width: 50px; 
  height: auto; 
}
