/* Centrar el contenedor */
.loader-container {
  display: flex;
  justify-content: center;  /* Centrado horizontal */
  align-items: center;      /* Centrado vertical */
  height: 100vh;            /* Ocupa toda la altura de la ventana */
}

/* Spinner */
.loader {
  width: 50px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 8px solid;
  border-color: #000 #0000;
  animation: l1 3s infinite;
}

@keyframes l1 {
  to {
    transform: rotate(.5turn);
  }
}
